challenges/dva-stepfunctions-task-count/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  TenkaCloud Challenge (dva-stepfunctions-task-count). DVA-C02 Step Functions
  drill. Deploys a Standard state machine whose definition contains exactly 3
  Task states plus a Choice and a Wait (5 states total). The player reads the
  definition and counts ONLY the Task states, submitting TC{3-task-states}.

  Cost: Step Functions state machine definition, IAM role, SSM parameter are
  all free. No executions triggered, no EC2, no Lambda invocation. $0.

Parameters:
  NamePrefix:
    Type: String
    MinLength: 5
    MaxLength: 80
    AllowedPattern: "^tc-[a-z0-9]+(-[a-z0-9]+)+$"
    ConstraintDescription: >
      `tc-{problemSlug}-{teamSlug}` format. The deploy chain injects this value
      automatically -- you do not set it manually.
    Description: >
      Common prefix attached to all resource names. Keeps per-team stacks from
      colliding in the same account / region.
  TenkaCloudAccountId:
    Type: String
    AllowedPattern: "^[0-9]{12}$"
    Description: TenkaCloud operator AWS account ID (passed by deploy chain).
  ExternalId:
    Type: String
    NoEcho: true
    MinLength: 16
    Description: ExternalId for ParticipantViewerRole trust (passed by deploy chain).

Resources:
  # Minimal role for the state machine. The Task states reference Lambda ARNs
  # that do not exist (the drill is inspection-only -- no executions happen).
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${NamePrefix}-sfn-exec"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SfnMinimal
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              # No actual Lambda invocations occur during the drill.
              # CloudWatch Logs publish only.
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:PutLogEvents
                Resource: "*"

  # The state machine: exactly 3 Task states + 1 Choice + 1 Wait.
  # Player must count ONLY Task states (= 3). Pass / Choice / Wait are filler.
  #
  # Flow: Start -> ValidateInput (Task) -> IsValid? (Choice)
  #        IsValid=true  -> WaitForReady (Wait) -> ProcessItem (Task) -> Notify (Task) -> End
  #        IsValid=false -> RejectInput (Pass)  -> End
  #
  # Task states: ValidateInput, ProcessItem, Notify  (count = 3)
  # Choice:      IsValid                             (count = 1)
  # Wait:        WaitForReady                        (count = 1)
  # Pass:        RejectInput                         (count = 1, filler -- not a Task)
  WorkflowStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${NamePrefix}-workflow"
      StateMachineType: STANDARD
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "DVA drill: count only the Task states. Pass/Choice/Wait do not count.",
          "StartAt": "ValidateInput",
          "States": {
            "ValidateInput": {
              "Type": "Task",
              "Comment": "Task state 1 of 3 -- calls a validation Lambda",
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${NamePrefix}-validate",
              "Next": "IsValid"
            },
            "IsValid": {
              "Type": "Choice",
              "Comment": "Choice state -- NOT a Task state",
              "Choices": [
                {
                  "Variable": "$.valid",
                  "BooleanEquals": true,
                  "Next": "WaitForReady"
                }
              ],
              "Default": "RejectInput"
            },
            "WaitForReady": {
              "Type": "Wait",
              "Comment": "Wait state -- NOT a Task state",
              "Seconds": 5,
              "Next": "ProcessItem"
            },
            "ProcessItem": {
              "Type": "Task",
              "Comment": "Task state 2 of 3 -- processes the item",
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${NamePrefix}-process",
              "Next": "Notify"
            },
            "Notify": {
              "Type": "Task",
              "Comment": "Task state 3 of 3 -- sends notification",
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${NamePrefix}-notify",
              "End": true
            },
            "RejectInput": {
              "Type": "Pass",
              "Comment": "Pass state -- NOT a Task state (no AWS service call)",
              "Result": {"status": "rejected"},
              "End": true
            }
          }
        }

  ParticipantViewerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${NamePrefix}-participant-viewer"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              AWS: !Sub "arn:aws:iam::${TenkaCloudAccountId}:root"
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                sts:ExternalId: !Ref ExternalId
      MaxSessionDuration: 3600
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/SignInLocalDevelopmentAccess
      Policies:
        - PolicyName: ProblemSpecific
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              # Read state machine definition scoped to this team's prefix.
              - Sid: DescribeStateMachine
                Effect: Allow
                Action:
                  - states:DescribeStateMachine
                Resource: !Sub "arn:aws:states:*:*:stateMachine:${NamePrefix}*"
              # states:ListStateMachines does not accept resource-level ARNs.
              - Sid: ConsoleListStates
                Effect: Allow
                Action:
                  - states:ListStateMachines
                Resource: "*"
              - Sid: ConsoleSelfIdentity
                Effect: Allow
                Action:
                  - sts:GetCallerIdentity
                Resource: "*"
              - Sid: ReadOwnSsmParameters
                Effect: Allow
                Action:
                  - ssm:GetParameter
                  - ssm:GetParameters
                  - ssm:GetParametersByPath
                Resource: !Sub "arn:aws:ssm:*:*:parameter/${NamePrefix}/*"
              - Sid: DescribeOwnParameters
                Effect: Allow
                Action: ssm:DescribeParameters
                Resource: "*"
              - Sid: OpenCloudShellSession
                Effect: Allow
                Action:
                  - cloudshell:CreateEnvironment
                  - cloudshell:CreateSession
                  - cloudshell:GetEnvironmentStatus
                  - cloudshell:StartEnvironment
                  - cloudshell:StopEnvironment
                  - cloudshell:DeleteEnvironment
                  - cloudshell:PutCredentials
                Resource: "*"

  BriefingParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/${NamePrefix}/briefing"
      Type: String
      Value: >-
        A Step Functions Standard state machine named ${NamePrefix}-workflow
        has been deployed. Its definition contains multiple state types
        (Task, Choice, Wait, Pass). Count ONLY the states with "Type": "Task".
        Pass, Choice, and Wait states do not count. Submit the Task state count
        as TC{N-task-states}, e.g. TC{2-task-states}.
      Description: !Sub "TenkaCloud dva-stepfunctions-task-count briefing for ${NamePrefix}."
      Tier: Standard

Outputs:
  StateMachineArn:
    Description: The Step Functions state machine to inspect.
    Value: !Ref WorkflowStateMachine
  StepFunctionsConsoleUrl:
    Description: AWS Console deep link to the Step Functions state machines list.
    Value: !Sub "https://${AWS::Region}.console.aws.amazon.com/states/home?region=${AWS::Region}#/statemachines"
  BriefingParameterName:
    Description: SSM Parameter holding the task briefing.
    Value: !Ref BriefingParameter
  # Canonical answer -- scoring engine only. No cloudformation:DescribeStacks granted.
  AnswerFlag:
    Description: Number of Task states in the deployed state machine.
    Value: "TC{3-task-states}"
  NamePrefix:
    Description: Common resource prefix this stack used.
    Value: !Ref NamePrefix
  ParticipantViewerRoleArn:
    Description: Role ARN competitors AssumeRole to access their own stack via AWS Console.
    Value: !GetAtt ParticipantViewerRole.Arn
