problems/jam/generated/arch-step-functions-workflow/cloudformation/arch-step-functions-workflow.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  TenkaCloud Problem: Step Functions ワークフロー設計（正解テンプレート）
  注文処理ワークフロー、エラーハンドリング、並列処理、SNS 通知を含む構成。

Parameters:
  EnvironmentName:
    Type: String
    Default: tenka-sfn
    Description: 環境名プレフィックス
  NotificationEmail:
    Type: String
    Default: admin@example.com
    Description: 通知先メールアドレス

Resources:
  # --- Lambda 実行ロール ---
  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${EnvironmentName}-lambda-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # --- Lambda: 注文検証 ---
  ValidateOrderFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${EnvironmentName}-validate-order"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          def handler(event, context):
              order_id = event.get('orderId')
              if not order_id:
                  raise ValueError('orderId is required')
              return {'orderId': order_id, 'validated': True}

  # --- Lambda: 在庫確認 ---
  CheckInventoryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${EnvironmentName}-check-inventory"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          def handler(event, context):
              return {'inventoryAvailable': True}

  # --- Lambda: 与信チェック ---
  CreditCheckFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${EnvironmentName}-credit-check"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          def handler(event, context):
              return {'creditApproved': True}

  # --- Lambda: 決済処理 ---
  ProcessPaymentFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${EnvironmentName}-process-payment"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          def handler(event, context):
              return {'paymentProcessed': True, 'transactionId': 'txn-12345'}

  # --- SNS トピック ---
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${EnvironmentName}-order-notifications"

  NotificationSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # --- CloudWatch Logs ---
  StateMachineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/stepfunctions/${EnvironmentName}"
      RetentionInDays: 30

  # --- Step Functions 実行ロール ---
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${EnvironmentName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt ValidateOrderFunction.Arn
                  - !GetAtt CheckInventoryFunction.Arn
                  - !GetAtt CreditCheckFunction.Arn
                  - !GetAtt ProcessPaymentFunction.Arn
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref NotificationTopic
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutLogEvents
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  # --- ステートマシン ---
  OrderProcessingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${EnvironmentName}-order-processing"
      RoleArn: !GetAtt StateMachineRole.Arn
      LoggingConfiguration:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StateMachineLogGroup.Arn
      DefinitionString: !Sub |
        {
          "Comment": "注文処理ワークフロー",
          "StartAt": "ValidateOrder",
          "States": {
            "ValidateOrder": {
              "Type": "Task",
              "Resource": "${ValidateOrderFunction.Arn}",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "ParallelChecks"
            },
            "ParallelChecks": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "CheckInventory",
                  "States": {
                    "CheckInventory": {
                      "Type": "Task",
                      "Resource": "${CheckInventoryFunction.Arn}",
                      "Retry": [
                        {
                          "ErrorEquals": ["States.TaskFailed"],
                          "IntervalSeconds": 2,
                          "MaxAttempts": 3,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "CreditCheck",
                  "States": {
                    "CreditCheck": {
                      "Type": "Task",
                      "Resource": "${CreditCheckFunction.Arn}",
                      "Retry": [
                        {
                          "ErrorEquals": ["States.TaskFailed"],
                          "IntervalSeconds": 2,
                          "MaxAttempts": 3,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "ProcessPayment"
            },
            "ProcessPayment": {
              "Type": "Task",
              "Resource": "${ProcessPaymentFunction.Arn}",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "NotifySuccess"
            },
            "NotifySuccess": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${NotificationTopic}",
                "Message": "Order processed successfully",
                "Subject": "Order Success"
              },
              "End": true
            },
            "NotifyFailure": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${NotificationTopic}",
                "Message.$": "$.error.Cause",
                "Subject": "Order Processing Failed"
              },
              "End": true
            }
          }
        }

Outputs:
  StateMachineArn:
    Description: ステートマシン ARN
    Value: !Ref OrderProcessingStateMachine

  NotificationTopicArn:
    Description: SNS トピック ARN
    Value: !Ref NotificationTopic

  LogGroupName:
    Description: ロググループ名
    Value: !Ref StateMachineLogGroup
